body {
    /*background: #cdf6ff;*/
    /*color: #04525c;*/
    /*color: #255112;*/
    background: #ffffff;
    color: #022c46;
    font-family: Roboto;
    font-style: normal;
    width: 100vw;
    min-height: 100vh;
    padding-top: 55px; /* height of the header */
    padding-bottom: 40px; /* height of the footer */
}

a {
    color: #022c46;
    text-decoration: none;
}

.navbar.is-stardew {
    /*background: #cbfdb8;*/
    background: #ec3101;
}

#navbarMenu {
    font-size: 1.11rem;
    color: #ffffff;
    font-family: Roboto;
    font-style: normal;
}

#navbarMenu .is-active {
    font-weight: bold;
}

#title-text{

    font-weight: bold;
    font-size: 32px;
    line-height: 150%;

}

#main-text1{

    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 150%;

}

#main-text2{

    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 150%;

}

.links{
    font-weight: normal;
    font-size: 20px;
    line-height: 150%;
    text-decoration-line: underline;
    list-style: none;
}

.icon_symbol{
    margin-right: 0;
    font-size: 20px;
}

.arr { 
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.location{
    font-size: 20px;

}

.about_timeline {
    padding-left: 20%;
    padding-right: 20%;
 }

@media only screen and (max-width: 950px) {
    .about_timeline {
       padding-left: 10%;
       padding-right: 10%;
    }
 }
 
 @media only screen and (max-width: 600px) {
    .about_timeline {
       padding-left: 0;
       padding-right: 0;
    }
 }

 .site-wrap {
    margin-top: 55px;
    position: fixed;
    top: 0;
    bottom: 40px;
    width: 100%;
    overflow: auto; /* This will make the content scrollable if it exceeds the size of the site-wrap */
}

.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: #3e8ed0;
    color: #fff;
}

@media screen and (min-width: 1024px)
.footer {
    min-height: 3.25rem;
}

.navbar {
    width: 100%;
}